.main-header{
    text-align: center;
}

.selection-content{
    display: flex;
    flex-direction: column;
}

.selection-btn{
    height: 50px;
    border: none;
    border-radius: 10px;
}

.cadetblue-color{
    background-color: cadetblue;
}


.luas-segitiga-hdr{
    text-align: center;
    font-size: 30px;
    border: 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    background-color: rgb(0, 191, 255);
}

.rumus-luas{
    text-align: left;
    margin: 0%;
    padding: 5px;
    font-size: 21px;
}

.style-rulus{
    text-align: center;
    margin: 0px;
    font-size: 22px;
} 

.dimana-style{
    text-align: left;
    margin: 5px;
    padding: 0;
    font-size: 21px;
}

.keliling-segitiga-content{
    display: flex;
    flex-direction: column;
}

.keliling-segitiga-hdr{
    text-align: center;
    font-size: 30px;
    border: 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    background-color: rgb(0, 191, 255);
}
.luas-segitiga-content{
    display: flex;
    flex-direction: column;
}

.luas-segitiga-img{
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    align-self: center;
}

.keliling-segitiga-img{
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    align-self: center;}

.keliling-segitiga-form-header{
    text-align: center;
    font-size: 21px; 
}

.rumus-keliling{
    text-align: left;
    margin: 0%;
    padding: 5px;
    font-size: 21px;
}

.style-rumus-keliling{
    text-align: center;
    margin: 0px;
    font-size: 22px;
}

.input-data{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-data>input{
    width: 75%;
    font-size: 21px;
}

input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.section-form{
    display: flex;
}

.section-form>aside{
    width: 50%;
    margin: 10px;
    border: 1px black solid;
}
